[MAIN]
# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
init-hook="import sys; sys.path.append('.')"

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=no-member,
        import-error,
        missing-docstring,
        invalid-name,
        too-few-public-methods

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=logging
